Package: app.enmity
Name: Enmity
Version: 2.2.6
Architecture: iphoneos-arm
Description: The power of addons, all in your hand.
Maintainer: Rosie
Author: Zoey & Eternal
Section: Tweaks
Depends: mobilesubstrate (>= 0.9.5000)
SileoDepiction: https://repo.enmity.app/depictions/enmity.json
Icon: https://repo.enmity.app/icons/Enmity.png
